.container {
  display: flex;
  min-height: 100vh;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 50px 100px;
  background-color: var(--main-background);
}

h1 {
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 40px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  background-color: var(--white-color);
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--blue-90);
}

input[type="date"] {
  color: #333;
}

.copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: #555;
}

.submitFormHolder{
  margin: 0 auto;
  margin-top: 16px;
}

.submitForm{
  font-family: 'Poppins';
  padding: 8px 24px;
  font-size: 12px;
  font-weight: 500;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.submitForm:hover {
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08),
              0 2px 4px rgba(0, 0, 0, 0.04);
}

