.card{
    background-image: linear-gradient(180deg, #CFC2FF 0%, #FFFFFF 64%);
    height: 342px;
    width: 332px;
    min-width: 332px;
    border-radius: 16px;
    padding: 12px;
}

.header{
    font-style: italic;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
}

.mainContent{
    border: 1px solid #E6E6E6;
    height: 100%;
    border-radius: 16px;
    background-color: var(--white-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tinyTitle{
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration:underline;
    font-weight: 700;
}

.content{
    margin-top: 10px;
}

.contentTitle{
    font-size: 12px;
    font-weight:500;
}

.contentValue{
    font-size: 13px;
    font-weight: 200;
}

.others{
    flex: 1;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-top: 8px;
}

.pill{
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #8000FF;
    border: 1px solid #E6E6E6;
    border-radius: 24px;
    font-size: 10px;
    height: 26px;
}