
.table{
    width: 100%;
}

table, th, tr{
}

thead{
    text-align: left;
    background-color: var(--purple-90);
    color: white;
}

thead th{
    font-weight: 400;
    padding: 4px 12px;
}

tbody td{
    padding: 12px;
    font-size: 12px;
}

tbody tr{
    transition: background-color ease-in 0.2s;
}

tbody tr:nth-child(even) {
  background-color: #E8E3FF; /* muted lilac */
}
tbody tr:nth-child(odd) {
  background-color: #F7F6FD; /* near white with a lavender tint */
}
tbody tr:hover {
  background-color: #D9CCFF; /* noticeable hover for interactivity */
}
