@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #FAFAFC;
  --black-color: #1E1E20;
  --main-background: #ECECF6;
  --blue-color: #4754EF;
  --gray-color: #59655D;
  --gray-2-color: #E6E6E6;
  --orange-100: #ff8700;
  --red-100: #ff003a;
  --blue-90: #19acff;
  --purple-90: #795edb;
}

.App {
  background-color: var(--main-background);
  font-family: "Poppins", sans-serif;
  position: relative;
}

.main {
  height: calc(100dvh - 72px);
  background-color: var(--main-background);
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-y: scroll;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-gap-12 {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.flex-col-gap-10 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.logo-holder {
  width: 32px;
}

.logo-img {
  width: 100%;
}

.text-heading {
  font-family: "Inter", sans-serif;
}

.text-body {
  font-family: "Poppins", sans-serif;
}

.fs-big-2 {
  font-size: 72px;
}

.fs-mid-1 {
  font-size: 18px;
}

.fs-small-0 {
  font-size: 10px;
}

.text-gray {
  color: var(--gray-color);
}

.fw-xxl {
  font-weight: 800;
}

.fw-m {
  font-weight: 500;
}

.capitalize-text {
  text-transform: capitalize;
}

.container {
  padding: 8px 24px;
  max-width: 1400px;
  margin: 0 auto;
}

.orange-gradient-text {
  background-image: linear-gradient(90deg, var(--orange-100), var(--red-100));
}

.purple-orange-gradient-text {
  background-image: linear-gradient(90deg, var(--blue-90) 3%, var(--purple-90) 62%, var(--orange-100));
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

button {
  border: none;
}

.btn1 {
  display: inline-block;
  margin-top: 48px;
  padding: 10px 40px;
  border-radius: 12px;
  background-image: linear-gradient(90deg, #ff8700, #ff9f33);
  color: var(--white-color);
  transition: transform 0.2s ease-in;
}

.btn1:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-holder {
  overflow: hidden;
  display: inline-block;
}

.btn2 {
  padding: 8px 32px;
  color: var(--white-color);
  font-weight: 800;
  font-size: 10px;
  border-radius: 16px;
  background-color: #8387FF;
}

.scrollbar {
  scrollbar-width: none;
}